@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");


* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}


.App{
  width: auto;
  height: auto;
}

.kappa {
  margin-left: 100px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: auto;
}
